.footer{
  height: 40vh;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  overflow: hidden;
  background-image: url(../../img/background.png);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 2000px;
}

.footer__container{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap:10%;
}

.footer__img-logo{
  width: 73px;
  height: 73px;
}

.footer__contacts{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__decor{
  position: absolute;
  width: 300px;
  bottom: 0;
  right: 0;
}